.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.Todolist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.Todos span {
  padding: 20px;
  zoom: 1.2;
}

.Todos {
  padding: 2px;
}




